[package]
name = "duckos-kernel"
version = "0.1.0"
edition = "2021"

[profile.release]
opt-level = "z"
debug = true
lto = true
codegen-units = 1

[dependencies]
limine = "0.5.0"
x86_64 = "0.14.10"
spin = "0.9.8"
